<section *ngIf="orders.length >= 1; else elseBlock">
  <div class="container max-w-5xl px-4 py-12 mx-auto">
    <div class="grid gap-4 mx-4 sm:grid-cols-12">
      <div class="col-span-12 sm:col-span-3 sticky top-0">
        <div
          class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-indigo-500"
        >
          <h3 class="text-3xl font-semibold">Your Orders</h3>
          <span class="text-sm font-bold tracki uppercase dark:text-gray-400"
            >Vestibulum diam nunc</span
          >
        </div>
      </div>
      <div
        class="md:ml-10 col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:bg-gray-700"
      >
        <div
          *ngFor="let order of orders"
          class="relative col-span-12 px-4 space-y-6 sm:col-span-9"
        >
          <div
            class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-indigo-500"
          >
            <h3 class="text-xl font-semibold tracki">
              {{ order.vehicleName }}
            </h3>
            <time class="text-xs tracki uppercase dark:text-gray-400">{{
              order.registrationNumber
            }}</time>

            <p class="mt-3">
              Rent Started on: {{ order.rentedDate | date : "dd/MM/yyyy" }}
            </p>
            <p>
              Proposed Return Date: {{ order.returnDate | date : "dd/MM/yyyy" }}
            </p>
            <p>Returned Date: {{ order.returnedDate | date : "dd/MM/yyyy" }}</p>
            <p>Total weeks rented: {{ order.weeks }}</p>
            <p>Fines accumilated: {{ order.fines }}</p>
            <p>Total Rent: {{ order.total }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #elseBlock>
  <div class="container max-w-5xl px-4 py-12 mx-auto">
    <div class="grid gap-4 mx-4 sm:grid-cols-12">
      <div class="col-span-12 sm:col-span-3">
        <div
          class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-indigo-500"
        >
          <h3 class="text-3xl font-semibold">
            It does appear that you have no past activities with us
          </h3>
          <span class="text-sm font-bold tracki uppercase dark:text-gray-400"
            >Start renting</span
          >
        </div>
      </div>
    </div>
  </div>
</ng-template>
