<aside
  class="h-full w-16 flex flex-col space-y-10 items-center justify-center relative text-white"
  style="background-color: #161616"
>
  <!-- Dashboard -->
  <div
    class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white"
  >
    <fa-icon [icon]="dashboard"></fa-icon>
  </div>

  <!-- Vehicle Details -->
  <div
    class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white"
  >
    <fa-icon [icon]="car"></fa-icon>
  </div>

  <!-- User List -->
  <div
    class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white"
  >
    <fa-icon [icon]="users"></fa-icon>
  </div>
</aside>
