<div class="h-screen w-full bg-white relative flex overflow-hidden">
  <!-- Sidebar -->
  <app-admin-sidebar></app-admin-sidebar>

  <div class="w-full h-full flex flex-col justify-between">
    <!-- Header -->
    <app-admin-header></app-admin-header>

    <!-- Main -->
    <main
      class="sm:max-w-fit md:max-w-full h-full flex relative overflow-y-hidden"
    >
      <!-- <div
        class="h-full w-full m-4 flex flex-wrap items-start justify-start rounded-tl grid-flow-col auto-cols-max gap-4 overflow-y-scroll"
      > -->
      <div
        class="h-full w-full m-4 items-start rounded-tl gap-4 overflow-y-scroll"
      >
        <app-heatmap></app-heatmap>
        <div class="grid md:grid-cols-2 gap-4 sm:grid-cols-1">
          <app-bar-chart></app-bar-chart>
          <app-pie-chart></app-pie-chart>
        </div>
        <div
          class="grid lg:grid-cols-4 gap-4 md:grid-cols-2 sm:grid-cols-1"
        ></div>
        <!-- Content -->
        <!-- <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div>
        <div
          class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"
        ></div> -->
      </div>
    </main>
  </div>
</div>
