<header
  class="h-16 w-full flex items-center relative justify-end px-5 space-x-10"
  style="background-color: #161616"
>
  <!-- Information -->
  <div class="flex flex-shrink-0 items-center space-x-4 text-white">
    <!-- Text -->
    <div class="flex flex-col items-end">
      <!-- Name -->
      <div class="text-md font-medium uppercase">{{ name }}</div>
      <!-- Title -->
      <div class="text-sm font-thin uppercase">Admin</div>
    </div>

    <!-- Logout -->
    <div
      class="h-10 w-10 rounded-full cursor-pointer items-center justify-center flex bg-indigo-500 hover:bg-white hover:duration-300 hover:ease-linear hover:text-indigo-500"
      (click)="doLogout()"
    >
      <fa-icon [icon]="logout"></fa-icon>
    </div>
  </div>
</header>
