<app-user-header></app-user-header>
<div style="min-height: 59vh">
  <div class="flex justify-center items-center px-20">
    <app-user-search (search)="doSearch($event)"></app-user-search>
  </div>

  <div *ngIf="searchResults.length > 0" class="mt-4">
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-4"
    >
      <li *ngFor="let result of searchResults">
        <app-user-rental-card
          vehicleName="{{ result.vehicleName }}"
          rent="{{ result.rate }}"
          (openModal)="
            openModal(
              result.vehicleName,
              result.rate,
              result.registrationNumber
            )
          "
          image="{{ result.photo }}"
          [rented]="result.rented"
        ></app-user-rental-card>
      </li>
    </ul>
  </div>

  <div
    *ngIf="rentModal"
    class="fixed top-0 left-0 z-40 flex items-center justify-center w-full h-full bg-opacity-80"
    (click)="closeModal()"
  >
    <div class="bg-transparent backdrop-blur-sm absolute inset-0"></div>
    <div (click)="$event.stopPropagation()">
      <app-user-rent-modal
        (closeModal)="closeModal()"
        [vehicleName]="selectedVehicle.vehicleName"
        rent="{{ selectedVehicle.rent }}"
        [registration]="selectedVehicle.registrationNumber"
      ></app-user-rent-modal>
    </div>
  </div>
</div>
<app-user-footer></app-user-footer>
