<div class="p-6">
  <input
    type="text"
    class="w-full p-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-blue-400"
    placeholder="Search users..."
    [(ngModel)]="searchText"
    (input)="applyFilter()"
  />

  <table class="mt-4 min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
        >
          <span (click)="toggleSort('id')">ID</span>
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
        >
          <span (click)="toggleSort('firstName')">Name</span>
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider"
        >
          <span (click)="toggleSort('email')">Email</span>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let user of filteredUsers" class="hover:bg-gray-50">
        <td class="px-6 py-4 whitespace-nowrap">{{ user.id }}</td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ user.firstName }} {{ user.lastName }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
